body {
    text-align: center;
    margin: auto;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    font-family: JetBrains Mono, sans-serif;
    align-content: center;

}
button{
    /* color: transparent; */
    /* background-color: transparent;
    border-color: transparent;
    cursor: default; */
    align-content:space-between;
}